.container {
    display: flex;
    height: 100%;
    padding-top: var(--pad-md);
    max-height: 500px;
    justify-content: center;
    align-items: center;
}

.container h1 {
    font-size: 32px;
    margin-bottom: var(--margin-lg);
}

.container label {
    display: block;
    margin-bottom: var(--margin-sm);
}

.container input {
    width: 100%;
}

.formContainer {
    width: 100%;
    max-width: 350px;
}

.formFooter {
    display: flex;
    margin-bottom: var(--margin-md);
}

.formFooter > button:nth-of-type(1) {
    margin-right: var(--margin-md);
}

.formFooter > button {
    flex: 1;
}

.formLinks {
    font-size: 14px;
    text-align: right;
}

.formLinks a {
    color: var(--colors-fg1);
}
